# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/
MemoryCaptures/

# VS / IDE files
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Build outputs
*.apk
*.aab
*.app
*.unitypackage

# OS junk
.DS_Store
Thumbs.db
